## Assignment -15_Random Forest(Fraud check)

In [1]:
#Importing the necessary libraries for the model
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Importing the csv file and having a glance at the data
Fraud_data=pd.read_csv("Fraud_check.csv")
Fraud_data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

### Making necessary EDA for the model

In [3]:
#Looking into rows and columns of data
Fraud_data.shape

(600, 6)

In [4]:
#Looking into statistical report of the data
Fraud_data.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [5]:
#Checking the datatypes and null values if present any
Fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [6]:
#Checking the duplicate values in the dataset
Fraud_data[Fraud_data.duplicated(keep = False)]

Empty DataFrame
Columns: [Undergrad, Marital.Status, Taxable.Income, City.Population, Work.Experience, Urban]
Index: []

In [7]:
#Label Encoding the data
label_encoder = preprocessing.LabelEncoder()
Fraud_data['Undergrad']= label_encoder.fit_transform(Fraud_data['Undergrad']) 
Fraud_data['Marital.Status']= label_encoder.fit_transform(Fraud_data['Marital.Status']) 
Fraud_data['Urban']= label_encoder.fit_transform(Fraud_data['Urban'])

In [8]:
#Finding the average taxable income, which is 30000.Hence anything above that is considered to be highly riskier accounts
Fraud_data["Taxable.Income"]=(Fraud_data["Taxable.Income"]>30000)*1

In [9]:
#Assigning the dependent and independent values
x=Fraud_data.drop(axis=0,columns="Taxable.Income")
y=Fraud_data["Taxable.Income"]

In [10]:
#Spliting the data into train and test model were test data is of 30%
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

### Building the Random Forest Classifier Model

In [12]:
#Building an Random Forest Classifier with features=3 
model = RandomForestClassifier(n_estimators=120, max_features=3)
model.fit(x_train,y_train)

RandomForestClassifier(max_features=3, n_estimators=120)

In [13]:
#Predicting the train data accuracy on the built model
Y_pred=model.predict(x_train)

In [14]:
#Printing the train data accuracy
print("accuracy:",metrics.accuracy_score(y_train,Y_pred))

accuracy: 1.0

In [15]:
#Predicting the test data accuracy on the built model
y_pred=model.predict(x_test)